<%= form_with model: @task, remote: true do |form| %>

  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :remarks %>
    <%= form.text_area :remarks %>
  </p>

  <p>
    <%= form.label :tags %>
    <%= form.collection_check_boxes(:tag_ids, @current_user.tags, :id, :name) %>
  </p>
  <p>
    <%= form.submit %>
  </p>

<% end %>