<div class="task_form_container hidden">
  <%= form_with model: task, remote: true, html: { autocomplete: "off" } do |form| %>
    <p>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </p>
    <p>
      <%= form.label :remarks %>
      <%= form.text_area :remarks %>
    </p>
    <p>
      <%= form.label :tags %>
      <%= form.collection_check_boxes(:tag_ids, @current_user.tags, :id, :name) %>
    </p>
    <p><%= form.submit %> <a class="cancel_form_link" href="javascript:void(0)">Cancel</a></p>
  <% end %>
</div>