<tbody id="<%= task.id %>">
  <tr class="task_overview d-flex">
    <td class="col-1">
      <a href="javascript:void(0)" class="toggle_edit">Edit</a>
      <%= link_to 'Delete', task, 
          remote: true,
          method: :delete, 
          data: {confirm: 'Are you sure?'} %>
    </td>
    <td class="col-7">
      <a href='javascript:void(0)' class="toggle_expand">[+]</a>
      <span class="task_title"><%= task.title %></span>
    </td>
    <td class="col-2">
      <span class="task_tags">
        <%== get_tags task %>
      </span>
    </td>
    <td class="date col-2"><%= local_time(task.created_at) %></td>  
  </tr>

  <tr class="remarks d-none">
    <td class="col-1"></td>
    <td class="col-9">
      <span class="task_remarks"><%= task.remarks %></span>
    </td>
    <td class="col=2"></td>
  </tr>

  <tr class="d-flex">
    <td class="col-12">
      <%# render partial: "form", locals: { full: true } or render "form", full: true %>
      <%# they are the same %>
      <%= render "form", task: task %>
    </td>
  </tr>
</tbody>