<h1>Task Manager</h1>

<table id="table">
  <thead>
    <tr>
      <th></th>
      <th align="left"><%= link_to 'Title', tasks_path(sort_order: click_title_order) %></th>
      <th><%= link_to 'Created At', tasks_path(sort_order: click_date_order) %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.order(@sort_order).each do |task| %>
      <tr id="<%= task.id %>">
        <td class="toggle_link"><a href='javascript:void(0)'>[+]</a></td>
        <td class="task_title">
          <div class="editable" style="display:inline-block">
            <%= form_with model: task, remote: true do |form| %>
              <%= form.text_field :title, id: task.id, class: 'in_place_changable' %>
            <% end %>
          </div>
          <a href='javascript:void(0)'>Edit</a>
          <%= link_to 'Delete', task, 
                method: :delete, 
                data: {confirm: 'Are you sure?'} %>
          Tags:
          <% task.tags.order(:name).each do |tag| %>
            <%= link_to tag.name, tag %>
          <% end %>
        </td>
        <td class="date"><%= local_time(task.created_at) %></td>  
      </tr>
    <% end %>
  </tbody>
</table>


<br><%= link_to "Add Task", new_task_path %>

<h2>Tags</h2>
<% @tags.each do |tag| %>
  <p><%= link_to "[X]", tag, method: :delete, data: { confirm: 'Are you sure?' } %> <%= link_to tag.name, tag %></p>
<% end %>

<br><%= link_to "New Tag", new_tag_path %>