<h1>Task Manager</h1>

<table id="table">
  <tbody>
    <% @tasks.each do |task| %>
      <tr data-task-id="<%= task.id %>">
        <td class="toggle_link"><a href='javascript:void(0)'>[+]</a></td>
        <td>
          <strong><%= task.title %></strong>
          <%= link_to 'Edit', edit_task_path(task) %>
          <%= link_to 'Delete', task, 
                method: :delete, 
                data: {confirm: 'Are you sure?'} %>
          Tags:
          <% task.tags.order(:name).each do |tag| %>
            <%= link_to tag.name, tag %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<br><%= link_to "Add Task", new_task_path %>

<h2>Tags</h2>
<% @tags.each do |tag| %>
  <p><%= link_to "[X]", tag, method: :delete, data: { confirm: 'Are you sure?' } %> <%= link_to tag.name, tag %></p>
<% end %>

<br><%= link_to "New Tag", new_tag_path %>