<h1>Task Manager</h1>

<table id="table">
  <thead>
    <tr>
      <th></th>
      <th align="left">Task</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr id="<%= task.id %>">
        <td class="toggle_link"><a href='javascript:void(0)'>[+]</a></td>
        <td class="task_title">
          <div class="editable" contentEditable="true" style="display:inline-block">
            <%= task.title %>
          </div>
          <%= link_to 'Edit', edit_task_path(task) %>
          <%= link_to 'Delete', task, 
                method: :delete, 
                data: {confirm: 'Are you sure?'} %>
          Tags:
          <% task.tags.order(:name).each do |tag| %>
            <%= link_to tag.name, tag %>
          <% end %>
        </td>
        <td class="date"><%= local_time(task.created_at) %></td>  
      </tr>
    <% end %>
  </tbody>
</table>


<br><%= link_to "Add Task", new_task_path %>

<h2>Tags</h2>
<% @tags.each do |tag| %>
  <p><%= link_to "[X]", tag, method: :delete, data: { confirm: 'Are you sure?' } %> <%= link_to tag.name, tag %></p>
<% end %>

<br><%= link_to "New Tag", new_tag_path %>