<h1>Task Manager <button id="toggle_new", class="btn btn-primary">Add Task</button></h1>
<div class="new_task_container">
    <%= render 'form', task: Task.new %>
</div>

<%= render "task_list" %>

<div class="tags">
  <h2>Tags <button id="toggle_new_tag", class="btn btn-primary">New Tag</button></h2>
  <div id="new_tag_container">
    <%= render "tags/form", tag: Tag.new %>
  </div>

  <p>
    <% @tags.each do |tag| %>
      <%= link_to "[X]", tag, method: :delete, data: { confirm: 'Are you sure?' } %> <%= link_to tag.name, tag %><br>
    <% end %>
  </p>

  <br>
</div>