<h1>Task Manager</h1>

<table>
  <tr>
    <th>Tasks</th>
    <th colspan="2"></th>
  </tr>
 
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= link_to 'Show', task_path(task) %></td>
      <td><%= link_to 'Edit', edit_task_path(task) %></td>
      <td><%= link_to 'Delete', task_path(task), 
              method: :delete, 
              data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Add Task", new_task_path %>