<div class="task_form_container d-none">
  <%= form_with model: task, remote: true, html: { autocomplete: "off" } do |form| %>
    <p>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </p>
    <p>
      <%= form.label :remarks %>
      <%= form.text_area :remarks, size: "60x7" %>
    </p>
    <p class="collection_check_boxes">
      <%= form.label :tags %>
      <%= form.collection_check_boxes :tag_ids, @current_user.tags, :id, :name %>
    </p>
    <p><%= form.submit class: "btn btn-primary" %> <button class="cancel_form_link btn btn-danger">Cancel</button></p>
  <% end %>
</div>